
<h1><%= @order.user.email.titleize %></h1>
<h1> Your order is: </h1>


<h2> ID: <%= @order.id %></h2>
<h2> Quantity: <%= @order.quantity %></h2>
<h3> Subtotal: <%= @order.subtotal %></h3>
<h3> Tax: <%= number_to_currency(@order.tax) %></h3>
<h3> Total: <%= @order.total %></h3>

<%= image_tag @order.product.images.first.image_url %>