<h1><%= @product.name %></h1>
<h2>Price: $<%= @product.price %></h2>
 <!-- This is the portion I need to look at-->

<div class="row">
  <div class="col-sm-9"
    

  </div>
</div>

<h2><%= @product.name %></h2>
<h2><%= @product.price %></h2>
<h2><%= @product.supplier.name %></h2>
<h2><img src="<%= @product.images.first.image_url %>"></h2>
<h2><%= @product.description %></h2>
<div>
  <%= form_tag '/orders', method: :post do %>
    <div class="form-group"> <!-- This is purely for bootstrap -->
      <%= label_tag :quantity %>
      <%= text_field_tag :quantity %>
      <%= label_tag :product_id, "Grab the product id from the url" %>
      <%= text_field_tag :product_id, @product.id %> <!-- After comma autofills product id in field -->
    </div>
      <%= submit_tag "Punch it....." %>
  <% end %>
</div>